<div class = "head-body container">
    <div class = "head-body-content">
        <h1 class = "head-title">
        welcome to MyShop
        </h1>
        <p class = "text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nam repudiandae aliquam ullam nulla sunt voluptate dolorem cumque sed corporis, debitis iste odit necessitatibus repellat!
        </p>
        <button type = "button" class = "btn">
        shop now
        </button>
    </div>

    <div class = "head-body-img">
        <img src = "assets/header.jpeg" alt = "header image">
    </div>
</div>