<%- include('./includes/head.ejs') %>

  </head>
  <body>
    <!-- header -->
    <header class = "header">
      <%- include('./includes/nav.ejs') %>
      <div class = "head-body "></div>
    </header>
    <!-- end of header -->

    <!-- trending product -->
    <section class="page-section">
      <div class = "container">
        <h1>Page Not Found</h1>
      </div>
    </section>
    <!-- end of trending product -->


    <%- include('./includes/footer.ejs') %>
  <%- include('./includes/end.ejs') %>